/*
	Theme: Michael Chan;
	Author: Michael Chan;
	Date of Creation: Thur, February 20, 2025;
	Colors: Flat UI, Turkish Palette;
*/

/* css for all */
	html, body
	{
		font-size: 13px;
	}
/* css for all ends */

/* css for header */
	header
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 50%;
	}

	header .logo
	{
		height: 100px;
	}

	header .logo img
	{
		height: 100%;
		margin-top: 10px;
		border-radius: 13px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}

	header ul
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	header ul li
	{
		margin-top: 30px;
		list-style: none;
		margin-right: 70px;
	}

	header ul li a
	{
		text-decoration: none;
		color: #7d5fff;
		padding: 5px 10px;
		border-radius: 3px;
	}

	header ul li a:hover
	{
		background-color: #7d5fff;
		color: white;
	}

	.checkbtn
	{
		font-size: 30px;
		color: #7d5fff;
		cursor: pointer;
		display:none;
	}

	#check
	{
		display: none;
	}
/* css for header ends */

/* css for about me */
	.me
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.define
	{
		width: 70%;
	}

	.pictorial
	{
		width: 25%;
	}

	.about
	{
		color: white;
		background-color: #7d5fff;
		padding: 20px 20px;
		border-radius: 13px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}

	.about p span
	{
		font-weight: bold;
		font-size: 15px;
	}

	.work
	{
		color: black;
		background-color: white;
		padding: 20px 20px;
		border-radius: 13px;
		margin-top: 20px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}

	.work p span
	{
		font-weight: bold;
		font-size: 15px;
	}

	.pictorial img
	{
		width: 100%;
		border-radius: 13px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}
/* css for about me ends */

/* css for projects page */
	.web
	{
		background-color: #7d5fff;
		color: white;
		padding: 20px 20px;
		border-radius: 13px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}

	.project-title
	{
		font-size: 15px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.websites
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
	}

	.websites a
	{
		text-decoration: none;
		color: white;
	}

	.web-box
	{
		width: 100%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		border-radius: 13px;
		background-color: rgba(0, 0, 0, 0.6);
	}

	.web-box img
	{
		width: 100%;
		height: 500px;
	}

	.web-box-info
	{
		padding: 11px 11px;
		text-align: center;
		font-weight: bold;
	}

	.photo
	{
		margin-top: 50px;
		background-color: white;
		color: black;
		padding: 20px 20px;
		border-radius: 13px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}

	.booth
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
	}

	.photo-box
	{
		width: 100%;
	}

	.photo-box img
	{
		width: 100%;
		height: 600px;
		border-radius: 13px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}
/* css for projects page ends */

/* css for contact page */
	.contact
	{
		background-color: white;
		border-radius: 13px;
		padding: 30px;
		width: 30%;
	}

	.contact span
	{
		margin-left: 20px;
		color: #7d5fff;
		font-weight: bold;
	}
/* css for contact page ends */

/* css for page responsiveness */
	@media screen and (max-width:768px)
	{
		.checkbtn
		{
			display: block;
			order: 1;
			margin-right: 20px;
		}

		ul
		{
			position: fixed;
			top: 90px;
			right: -100%;
			background-color: rgba(0,0,0,0.6);
			width: 23%;
			height: 60vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transition: all 0.3s;
		}

		ul li
		{
			margin: 20px 0;
		}

		ul li a
		{
			background-color: white;
			color: #7d5fff;
			font-size: 13px;
		}

		#check:checked ~ ul
		{
			right: 0;
		}

		header
		{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

		.latest
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			flex-direction: row;
			gap: 10px;
		}

		.latest img
		{
			flex: 1 1 calc(33.33% - 10px); /* 25% for 4 images */
			max-width: calc(33.33% - 10px);
			height: auto;
			border-radius: 13px;
		}

		.contact
		{
			background-color: white;
			border-radius: 13px;
			padding: 30px;
			width: 50%;
		}
	}

	@media (max-width:425px)
	{
		ul
		{
			position: fixed;
			top: 90px;
			right: -100%;
			background-color: rgba(0,0,0,0.6);
			width: 45%;
			height: 60vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transition: all 0.3s;
		}

		.latest
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: center-left;
			flex-direction: row;
			gap: 10px;
		}

		.latest img
		{
			flex: 1 1 calc(100% - 10px); /* 25% for 4 images */
			max-width: calc(100% - 10px);
			height: auto;
			border-radius: 13px;
		}

		.contact
		{
			background-color: white;
			border-radius: 13px;
			padding: 30px;
			width: 100%;
		}
	}

	@media screen and (max-width:375px)
	{
		ul
		{
			position: fixed;
			top: 90px;
			right: -100%;
			background-color: rgba(0,0,0,0.6);
			width: 80%;
			height: 60vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transition: all 0.3s;
		}

		.latest
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			flex-direction: row;
			gap: 10px;
		}

		.latest img
		{
			flex: 1 1 calc(100% - 10px); /* 25% for 4 images */
			max-width: calc(100% - 10px);
			height: auto;
			border-radius: 13px;
		}
	}

	@media screen and (max-width:320px)
	{
		.latest
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			flex-direction: row;
			gap: 10px;
		}

		.latest img
		{
			flex: 1 1 calc(100% - 10px); /* 25% for 4 images */
			max-width: calc(100% - 10px);
			height: auto;
			border-radius: 13px;
		}
	}
/* css for page responsiveness ends */
